extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	//- phan home slider
	section.home-slider
		.owl-carousel.owl-theme
			.item
				img(src="./img/home_slider_1.png", alt="", srcset="")
			.item
				img(src="./img/home_slider_2.png", alt="", srcset="")
			.item
				img(src="./img/home_slider_3.png", alt="", srcset="")
	//- phan home product
	section.home-product
		.container
			.row
				.col-md-8
					figure
						img.img-fluid(src="./img/home_banner_1.png", alt="", srcset="")
				.col-md-4
					figure
						img.img-fluid.center(src="./img/home_product_1.png", alt="", srcset="")
						.fixtext
							figcaption
								p tam dep trai ahihi sadas sdsad asdasd
								price 25.06$
			.row
				.col-md-4
					figure
						img.img-fluid.center(src="./img/home_product_2.png", alt="", srcset="")
						.fixtext
							figcaption
								p tam dep  trai ahhihi
								price 25.06$
				.col-md-4
					figure
						img.img-fluid.center(src="./img/home_product_3.png", alt="", srcset="")
						.fixtext
							figcaption
								p tam dep  trai ahhihi
								price 25.06$
				.col-md-4
					figure
						img.img-fluid.center(src="./img/home_product_4.png", alt="", srcset="")
						.fixtext
							figcaption
								p tam dep  trai ahhihi
								price 25.06$
	//- phan home top sale
	section.home-topsale
		.container
			.row
				.col
					h2 Tam dep trai
					.owl-carousel.owl-theme
						.item
							figure
								img.img-fluid(src="./img/home_topsale_1.png", alt="", srcset="")
								.fixtext1
									figcaption
										h3 tam dep trai
										price 25.36$
										p
											a(href="#") buy
						.item
							figure
								img.img-fluid(src="./img/home_topsale_1.png", alt="", srcset="")
								.fixtext1
									figcaption
										h3 tam dep trai
										price 25.36$
										p
											a(href="#") buy
						.item
							figure
								img.img-fluid(src="./img/home_topsale_1.png", alt="", srcset="")
								.fixtext1
									figcaption
										h3 tam dep trai
										price 25.36$
										p
											a(href="#") buy
						.item
							figure
								img.img-fluid(src="./img/home_topsale_1.png", alt="", srcset="")
								.fixtext1
									figcaption
										h3 tam dep trai
										price 25.36$
										p
											a(href="#") buy
						.item
							figure
								img.img-fluid(src="./img/home_topsale_1.png", alt="", srcset="")
								.fixtext1
									figcaption
										h3 tam dep trai
										price 25.36$
										p
											a(href="#") buy
						.item
							figure
								img.img-fluid(src="./img/home_topsale_1.png", alt="", srcset="")
								.fixtext1
									figcaption
										h3 tam dep trai
										price 25.36$
										p
											a(href="#") buy
						.item
							figure
								img.img-fluid(src="./img/home_topsale_1.png", alt="", srcset="")
								.fixtext1
									figcaption
										h3 tam dep trai
										price 25.36$
										p
											a(href="#") buy
						.item
							figure
								img.img-fluid(src="./img/home_topsale_1.png", alt="", srcset="")
								.fixtext1
									figcaption
										h3 tam dep trai
										price 25.36$
										p
											a(href="#") buy
			.row
				.col
					figure
						img.img-fluid(src="./img/home_banner_3.png", alt="", srcset="")
	//- phan home best salers
	section.home-bestsalers
		.container
			.row
				.col
					h2 top best sellers
			.row
				.col
					.owl-carousel.owl-theme
						.item
							.row
								.col-md-6
									figure
										img.img-fluid(src="./img/home_bestsalers.png", alt="", srcset="")
								.col-md-6
									figure
										img.img-fluid(src="./img/home_bestsalers_product.png", alt="", srcset="")
										figcaption
											h3 tam dep trai
											price 25.32$
											p view more
						.item
							.row
								.col-md-6
									figure
										img.img-fluid(src="./img/home_bestsalers.png", alt="", srcset="")
								.col-md-6
									figure
										img.img-fluid(src="./img/home_bestsalers_product.png", alt="", srcset="")
										figcaption
											h3 tam dep trai
											price 25.32$
											p view more
						.item
							.row
								.col-md-6
									figure
										img.img-fluid(src="./img/home_bestsalers.png", alt="", srcset="")
								.col-md-6
									figure
										img.img-fluid(src="./img/home_bestsalers_product.png", alt="", srcset="")
										figcaption
											h3 tam dep trai
											price 25.32$
											p view more
						.item
							.row
								.col-md-6
									figure
										img.img-fluid(src="./img/home_bestsalers.png", alt="", srcset="")
								.col-md-6
									figure
										img.img-fluid(src="./img/home_bestsalers_product.png", alt="", srcset="")
										figcaption
											h3 tam dep trai
											price 25.32$
											p view more
								






	
