// css home slider
.home-slider
// css home product
.home-product
    img 
        position: relative
    .fixtext
        padding: 0.5rem 2rem
        position: absolute
        text-align: center
        display: flex
        background: $whites
        top: 70% 
        left: 50%
        transform: translateX(-50%)
        p 
            margin: 0
            font-size: 1rem
            font-weight: bold
+media-breakpoint-down(sm)
    .center
        display: block
        margin-left: auto
        margin-right: auto
        width: 50%