//- code phan header
header
    nav.navbar.navbar-expand-lg.navbar-light
        a(href="#").navbar-brand
            img(src="./img/logoFSVN.png", alt="", srcset="")
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#Tamdeptrai" aria-controls="Tamdeptrai" aria-expanded="false" aria-label="Toggle navigation")
            span.fa.fa-bars
        #Tamdeptrai.collapse.navbar-collapse
            .mr-auto
            ul.nav.justify-content-end
                li.nav-item
                    a.nav-link.active(href="#") about us    
                li.nav-item
                    a.nav-link(href="#") all products    
                li.nav-item
                    a.nav-link(href="#") best seller
                li.nav-item
                    a.nav-link(href="#") events
                li.nav-item
                    a.nav-link(href="#") photo review
                li.nav-item
                    a.nav-link(href="#") contact us